<md-toolbar ng-show="!showSearch">
  <div class="md-toolbar-tools">
    <md-button ng-click="ctrl.toggleSidenav('left')" class="md-fa-button" hide-gt-md aria-label="Menu">
      <i class="fa fa-bars"></i>
    </md-button>
    <h3>
      Dashboard
    </h3>
    <span flex></span>
    <md-button aria-label="Search" class="md-fa-button">
      <i class="fa fa-search"></i>
    </md-button>
    <md-button aria-label="Open Settings" class="md-fa-button">
      <i class="fa fa-ellipsis-v"></i>
    </md-button>
  </div>
</md-toolbar>
