<md-subheader>Case: {{ctrl.case.case_id }} : {{ ctrl.case.name }}</md-subheader>
<md-subheader>Assets:
  <a href="">{{ctrl.case.path}}</a>
</md-subheader>
<div layout="row" flex layout-align="center center">
  <md-switch ng-model="ctrl.dragEnabled" aria-label="Switch 1">
    Drag & Drop
  </md-switch>

</div>

<script type="text/ng-template" id="nodes_renderer.html">
  <div layout="row" ui-tree-handle class="tree-node tree-node-content">
    <span flex>
      <a ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
      <i class="fa" ng-class="{
            'fa-chevron-right': collapsed,
            'fa-chevron-down': !collapsed
          }"></i></a>
      {{node.title}}
    </span>
    <a data-nodrag ng-click="remove(this)" style="margin-right: 8px;"><i
            class="fa fa-minus-circle"></i></a>
    <a data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><i
            class="fa fa-plus-circle"></i></a>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>
<div ui-tree data-drag-enabled="ctrl.dragEnabled" id="tree-root">
  <ol ui-tree-nodes ng-model="assets">
    <li ng-repeat="node in assets" ui-tree-node ng-include="'nodes_renderer.html'"></li>
  </ol>
</div>